@charset "UTF-8";
.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-17, .cls-18, .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-24, .cls-25, .cls-26, .cls-27, .cls-28, .cls-29, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-35, .cls-36, .cls-37, .cls-38 {
  stroke-width: 0px;
}

.cls-1, .cls-39, .cls-40 {
  fill: #ec7d30;
}

.cls-2 {
  fill: #bbbdbf;
}

.cls-41 {
  fill: #fee8a9;
  stroke: #fed664;
  stroke-width: 3.04px;
}

.cls-41, .cls-40, .cls-42, .cls-43, .cls-44, .cls-45, .cls-46, .cls-47, .cls-48, .cls-49, .cls-50, .cls-51 {
  stroke-miterlimit: 10;
}

.cls-52 {
  letter-spacing: 0em;
}

.cls-53 {
  letter-spacing: -.01em;
}

.cls-3 {
  fill: url(#linear-gradient);
}

.cls-39 {
  font-size: 22.24px;
}

.cls-39, .cls-54, .cls-55, .cls-56, .cls-57, .cls-58 {
  font-family: Calibri-Bold, Calibri;
  font-weight: 700;
}

.cls-4 {
  fill: #e4efdc;
}

.cls-5 {
  fill: #402312;
}

.cls-59 {
  letter-spacing: 0em;
}

.cls-40, .cls-43, .cls-47, .cls-48 {
  stroke: #fff;
}

.cls-6 {
  fill: #c1cce0;
}

.cls-42 {
  fill: url(#linear-gradient-4);
}

.cls-42, .cls-44, .cls-45, .cls-46, .cls-49, .cls-50, .cls-51 {
  stroke: #ccc;
}

.cls-7 {
  fill: #6488a7;
}

.cls-60 {
  letter-spacing: -.02em;
}

.cls-61 {
  letter-spacing: -.01em;
}

.cls-8 {
  fill: #e6e7e8;
}

.cls-43, .cls-58, .cls-37 {
  fill: #70ad45;
}

.cls-9 {
  fill: #ab8357;
}

.cls-54, .cls-11, .cls-47 {
  fill: #1b2c59;
}

.cls-54, .cls-55, .cls-58 {
  font-size: 22.24px;
}

.cls-12 {
  fill: #577892;
}

.cls-62 {
  letter-spacing: 0em;
}

.cls-13 {
  fill: #fff7e0;
}

.cls-63 {
  letter-spacing: 0em;
}

.cls-14 {
  fill: #eec6b0;
}

.cls-15 {
  fill: #b3b2b3;
}

.cls-16 {
  fill: #00a89c;
}

.cls-55, .cls-48, .cls-38 {
  fill: #305698;
}

.cls-17 {
  fill: #e2b49c;
}

.cls-18 {
  fill: #333;
}

.cls-64 {
  letter-spacing: -.01em;
}

.cls-44 {
  fill: url(#linear-gradient-9);
}

.cls-56 {
  font-size: 14.82px;
}

.cls-65 {
  letter-spacing: 0em;
}

.cls-66 {
  letter-spacing: 0em;
}

.cls-19 {
  fill: #fdc010;
}

.cls-67 {
  letter-spacing: -.01em;
}

.cls-20, .cls-26 {
  fill: #fff;
}

.cls-21 {
  fill: #e9cac5;
}

.cls-22 {
  fill: #fed664;
}

.cls-68 {
  letter-spacing: 0em;
}

.cls-23 {
  fill: #dcdbdb;
}

.cls-24 {
  fill: #a36d35;
}

.cls-25 {
  fill: url(#linear-gradient-2);
}

.cls-45 {
  fill: url(#linear-gradient-5);
}

.cls-46 {
  fill: url(#linear-gradient-6);
}

.cls-26 {
  fill-rule: evenodd;
}

.cls-27 {
  fill: #9fbed8;
}

.cls-28 {
  fill: #f1f1f2;
}

.cls-29 {
  fill: #fcbf10;
}

.cls-30 {
  fill: #74945e;
}

.cls-69 {
  letter-spacing: -.02em;
}

.cls-49 {
  fill: url(#linear-gradient-3);
}

.cls-57 {
  font-size: 16px;
}

.cls-31 {
  fill: #cbcfd9;
}

.cls-50 {
  fill: url(#linear-gradient-7);
}

.cls-32 {
  fill: #979797;
}

.cls-70 {
  letter-spacing: 0em;
}

.cls-71 {
  letter-spacing: -.01em;
}

.cls-72 {
  letter-spacing: 0em;
}

.cls-73 {
  letter-spacing: -.09em;
}

.cls-33 {
  fill: #da8d27;
}

.cls-51 {
  fill: url(#linear-gradient-8);
}

.cls-34 {
  fill: #fbe2d2;
}

.cls-35 {
  fill: #808184;
}

.cls-74 {
  letter-spacing: -.01em;
}

.cls-36 {
  fill: #eebcb3;
}

.cls-75 {
  letter-spacing: -.01em;
}

.cls-76 {
  letter-spacing: -.01em;
}


.cls-77 {
    font-family: Calibri-Bold, Calibri, sans-serif;
    font-weight: bold;

    font-size: 15.52px;
  }
.cls-78 {
    fill: #e6e7e8;
  }

  .cls-84 {
    font-family: Calibri, Calibri;
  }

.cls-83 {
    font-family: Calibri-Italic, Calibri, sans-serif;
    font-style: italic;
  }

  .cls-98 {
    fill: #1C2C59;
    stroke-width: 2px;
    stroke:#fff;
  }

  .cls-99 {
    fill: #305799;
    stroke-width: 2px;
    stroke:#fff;
  }

  .cls-100 {
    fill: #EB7C2F;
    stroke-width: 2px;
    stroke:#fff;
  }






